<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
            <li><a href="login.html" id="loginNav"></span> Login</a></li>
            <li><a href="register.html" id="registerNav"></span> Register</a></li>
            <li><a href="dashboard.html" id="dashboardNav"></span> Dashboard</a></li>            
            <li><a href="logout.html" id="logoutNav"></span>Logout</a></li>
      </ul>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
    <div class="container text-center">
      <h1>Shop With Us</h1>      
      <p>Find your ideal shoes and compare prices from different shops</p>
      
            <div class="form-row">
                <div class="form-group col-sm-3">
                </div>
              
              <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Shoes Name" id="shoesName">
              </div>
              <div class="form-group col-sm-2">
                <input type="submit" class="form-control" id="searchShoes" value="Search" >
              </div>
              <div class="form-group col-md-2">
              </div>             
             </div>        
    </div>
  </div>
  

<div class="container" >    
    <div class="row content">
      <div class="col-sm-2 sidenav">        
      </div>
      <div class="col-sm-8 text-left" id="col-8"> 


              <br>
            </div>
        </div>
    </div> 
  <br>
  <br>
  <br>

<div class="container">    
  <div class="row">
    <div class="col-sm-6" >
      <strong class="description">shop with us global search</strong>
      <p class="explanation">shop with us allows users to compare shoes prices in just a few clicks from more than 400 booking sites for 1.8 million+  in over 190 countries. With 1.4 billion visits annually to our site, travelers regularly use the hotel comparison to compare deals in the same city. Get information for trips to cities like Las Vegas or Orlando and you can find the right hotel on trivago quickly and easily. New York City and its surrounding area are great for trips that are a week or longer with the numerous shops available.</p>
    </div>
    <div class="col-sm-6"> 
        <strong> Find cheap shoes on shopWithUs</strong> 
      <p> With us you can easily find your ideal shoes and compare prices from different websites. Simply enter where you want to go and your desired shoes prices, and let our  search engine compare  prices for you. To refine your search results, simply filter by price. From budget shoes to brand shoes suites, we make it easy to search online. You can search from a large variety of rooms and locations across the USA, like San Francisco and Chicago to popular cities and other destinations abroad!</p>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

<script src="../services/getItem.js"></script>
<script src="../services/getShoesByName.js"></script>

<!-- to check user is logged or not -->
<script src="../services/checkLogin.js"></script>

</body>
</html>
