body {
    font-family: 'lato', sans-serif;
    background: #ededed;
  }
  
.row.content {
    height: 550px
}

#title{
    color:#e7e7e7;
 }

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

#formDashboard{
    background: #ffffff;
}

#displayStore{
    background: #f8f6f6;
}

#addStore{
    background: #333333;
}
    
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}

input[type=email],input[type=password],input[type=text]{
    border: 1px solid #ddd;
    border-radius: 1px; 
    margin-bottom: 10px;
}
  
#addStore{
    border:1px solid #005f81;
    border-radius: 1px;
    font-size: 18px;
    background-color: #005f81;
    color: #f2f2f2;

}

#update {
    border:1px solid #005f81;
    border-radius: 1px;
    font-size: 18px;
    background-color: #005f81;
    color: #f2f2f2;
}

.sidenav {
    font-family: 'lato', sans-serif;    
    height: 100%;
    /* width: 160px; */
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    padding-top: 20px;
  }
  

.sidenav a {
    font-family: 'lato', sans-serif;    
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #e7e7e7;
    display: block;
}

.sidenav a:hover {
    color: #201818;
  }
.btn-lg:hover{
    background: #333333;
    color: #e7e7e7;
}
    

.register-account a{
    text-decoration: none;   
  }
    